[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
pytest-flask-sqlalchemy = "*"
pytest-postgresql = "*"
psycopg = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.9"
